<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {# <a class="navbar-brand" href="/">MyWebsite</a> #}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav d-flex mx-auto">
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'home' %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if current_page == 'app_users_list'  %}active{% endif %}" href="/users">Users List</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if (current_page == 'app_users_page_fetch' or current_page == 'app_json_all_users_form')  %}active{% endif %}" href="/fetch-json-users">Json Users List</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if (current_page == 'app_posts')  %}active{% endif %}" href="/posts">Posts</a>
            </li>
            <!-- Dodaj tutaj więcej linków do menu -->
        </ul>
    </div>
</nav>